body {
  background-color: #628354;
}

.welc {
  text-align: center;
  color: #DDCFBE;
  font-family: "Titan One";
}

h5 {
  text-align: center;
  color: #DDCFBE;
  font-family: "Titan One";
  font-size: 20px;
}

.list {
  color: #DDCFBE;
  font-size: 30px;
}

ul {
  list-style-type: circle;
}

li a.active {
  background-color: #6F4D2A;
  color: #628354;
}

.nav-link {
  color:  #628354;
}

.nav-link:hover {
color:#DDCFBE;
}

